body{
    font-family: 'Poppins', sans-serif;

    margin: 0;
}



#wcm{
    background-color: aqua;
    color: blueviolet;
    border: solid 10px yellowgreen;
    border-radius: 25px;
    margin: 0px 500px;
    padding: 1px 30px;
    font-size: 40px;
    
}




#wcmone{
margin: 0px 0px;
    text-align: center;


}


.name-highlight{

    color: orange;
}


.half-width{

    width: 40%;
    float: left;
margin-left: 5%;
padding-left: 2%;
margin-top: 100px;


}

.half-width img{
    width: 100%;
}

.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

section{
    height: 500px;
}